<div class="example-button-row">
    <button (click)="logout();" mat-stroked-button>Logout</button>
</div>

<table *ngIf="users && !editMode" class="table">
    <thead>
      <tr class="col">
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-data" *ngFor="let item of users">
        <th scope="row">{{ item.id }}</th>
        <td scope="row">{{ item.firstName }}</td>
        <td scope="row">{{ item.lastName }}</td>
        <td scope="row">{{ item.email }}</td>
        <td scope="row">{{ item.password }}</td>
        <td scope="row">
            <button (click)="edit(item.id);" mat-stroked-button color="primary">Edit</button>
        </td>
        <td scope="row">
            <button *ngIf="item.id != 1" (click)="delete(item.id);" mat-stroked-button color="warn">Delete</button>
        </td>
      </tr>

      <tr *ngIf="!users">No data found!</tr>
    </tbody>
</table>

<form *ngIf="editMode" (ngSubmit)="save();" class="example-form">
  <h2>EDIT</h2>
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input [(ngModel)]="user.firstName" type="text" matInput [formControl]="firstName">
    <mat-error *ngIf="firstName.hasError('required')">
      First name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <br/>

  <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input [(ngModel)]="user.lastName" type="text" matInput [formControl]="lastName">
      <mat-error *ngIf="lastName.hasError('required')">
          Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  <br/>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="user.email" type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <br/>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input [(ngModel)]="user.password" type="password" matInput [formControl]="password">
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  
  <div class="example-button-row">
    <button type="submit" mat-raised-button color="primary">Save</button>
    <button (click)="cancel();" mat-button color="warn">Cancel</button>
  </div>
</form>